body {
  font-family: 'Inter', sans-serif;
  scroll-snap-type: y mandatory;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 80px;
  padding-top: 4rem;
  margin-top: 0;
  text-align: center;
}

h1 span {
  background-image: url('./assets/text-icon.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 2rem;
  width: 50%;
  border: 0.5px solid #d3d3d3;
}

.a-normal {
  text-decoration: none;
  color: white
}

.a-normal:hover {
  color: #2B2B2B;
}

.a-blue {
  text-decoration: none;
  color: #2b2b2b;
}

.a-blue:hover {
  color: #43c6d8
}

.scroll-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.scroll-area {
  scroll-snap-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #43c6d8;
  font-size: 20px;
  color: white;
  align-items: center;
  padding-right: 1rem;
  height: 100px;
}

.nav-blue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  font-size: 20px;
  color: #2B2B2B;
  align-items: center;
  padding-right: 1rem;
  height: 100px;
}

.logo {
  margin: 1.5rem 0 1.5rem 1.5rem;
  width: 60px;
  height: 60px;
}

.links, .links-blue {
  padding-left: 0;
  margin-left: 0;
}

.links, .links-blue, .links-small, .links-small-blue {
  list-style: none;
  text-align: right;
}

.links-small, .links-small-blue {
  display: none;
}

.links li, .links-blue li, .links-small li, .links-small-blue li {
  padding: 1rem;
  display: inline;
}

.links li:hover, .links-small li:hover  {
  color: #2B2B2B;
}

.links-blue li:hover, .links-small-blue li:hover {
  color: #43c6d8;
}

.scroll {
  position: fixed;
  display: block;
  height: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.scroll p {
  transform: rotate(-90deg);
}

.line {
  border-left: 1px solid white;
  height: 20%;
  margin: 2rem;
}

.name {
  font-family: 'Space Mono', monospace;
  font-size: 100px;
  font-weight: bold;
  margin: 2rem;
}

.caption {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  margin: 0rem 2rem;
}

.home {
  display: flex;
  background-image: linear-gradient(#43c6d8, #a5aafc);
  color: white;
  height: calc(100vh - 100px);
  align-items: center;
}

.home-main {
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.about {
  position: relative;
  color: #2B2B2B;
  height: 100vh;
  width: 100vw;
}

.about p, .contact-main p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
}

.about p {
  margin-bottom: 2rem;
}

.contact-main p {
  margin-bottom: 3rem;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  width: 250px;
  height: 50px;
  margin: 2rem;
  color: #2b2b2b;
  background-color: #fff;
  border: solid 3px #2b2b2b;
}

button:hover {
  border: none;
  background-image: linear-gradient(-90deg, #43c6d8, #a5aafc);
  color: #fff;
}

.button-link {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: center;
}

.contact {
  height: calc(100vh - 200px);
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info div {
  margin: 0 2rem 1.5rem 2rem;
}

.social {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}

.section-heading {
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  color: #43c6d8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  height: 200px;
  width: 100vw;
  border: 1px solid #2B2B2B;
  background-color: #2B2B2B;
  font-size: 20px;
  color: white;
  align-items: center;
}

.footer p {
  padding-left: 5rem;
}

.each-project {
  display: flex;
  flex-direction: row;
  margin-top: 2rem 0;
  justify-content: center;
}

.each-project .project-box {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  overflow-wrap: anywhere;
}

.background-lightgrey {
  background-color: rgb(248, 248, 248);
}

.project-image {
  height: 100%;
  box-shadow: 3px 3px 10px darkgray;
}

.project-name {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
}

.project-name p {
  font-family: 'Space Mono', monospace;
  width: 150px;
  text-align: center;
  margin: 2rem 0;
}

.line-dark {
  border-left: 1px solid #d3d3d3;
  height: 50%;
  margin-left: 50%;
}

@media screen and (max-width: 900px) {
  .each-project {
    display: inline;
    margin: 2rem 0;
  }

  .each-project .project-box {
    width: 75vw;
    float: right;
    margin: 0 0 2rem 0;
    justify-content: space-evenly;
  }
  
  .project-name {
    float: left;
    width: 100px;
  }

  .project-name p {
    transform: rotate(-90deg);
    justify-content: space-between;
    width: 100px;
  }

  .project-box p, .project-box a {
    font-size: 18px;
  }

  .project-box .section-heading {
    font-size: 14px;
  }

  .line-dark {
    height: calc(50vh - 20px - 1rem);
  }
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact-main p {
    margin-bottom: 1rem;
  }

  .contact hr {
    display: none;
  }

  .project-box .section-heading {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 60px;
  }

  button {
    font-size: 15px;
    margin: 1rem;
  }

  .links {
    display: none;
  }

  .links-small {
    display: inline;
  }

  .links-blue {
    display: none;
  }

  .links-small-blue {
    display: inline;
  }

  .home {
    height: calc(100vh - 100px);
  }

  .name {
    font-size: 60px;
  }

  .section-heading {
    margin: 0.5rem;
  }

  .project-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 50px;
  }

  button {
    font-size: 15px;
    margin: 1rem;
  }

  .home-main {
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  
  .name {
    font-size: 50px;
  }

  .scroll {
    margin: 2.5rem 0 0 0;
  }

  .caption {
    font-size: 20px;
    margin: 0rem 2rem;
  }

  .project-name {
    display: none;
  }

  .each-project .project-box {
    width: 100vw;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
  }

  .project-box p {
    padding: 0 1rem;
  }

  .about p, .contact-main p {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 17px;
  }
}
